<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spatialoperation.mapper.PolygonMapper">
    <select id="getAllPolygons" resultType="com.example.spatialoperation.entity.MyPolygon">
        SELECT * FROM dltb121604
    </select>
    <select id="getPolygonByID" resultType="com.example.spatialoperation.entity.MyPolygon">
        SELECT gw_objectcid,st_astext(gw_shape),dlmc FROM dltb121604 WHERE gw_objectcid=#{id}
    </select>
    <select id="getPolygonsByDlmc" resultType="com.example.spatialoperation.entity.MyPolygon">
        SELECT gw_objectcid,st_astext(gw_shape),dlmc FROM dltb121604 WHERE dlmc=#{dlmc}
    </select>
    <select id="getAllDlmc" parameterType="java.lang.String">
        SELECT dlmc FROM dltb121604
    </select>
    <select id="getPolygonsCount" resultType="int">
        SELECT COUNT(*) FROM dltb121604
    </select>
    <select id="getPolygonGeometry" resultType="String">
        SELECT st_astext(gw_shape) From dltb121604 WHERE gw_objectcid=#{id}
    </select>
</mapper>